
Autos/__MACOSX/._Autos
*.DS_Store
Autos/__MACOSX/Autos/._Data
Autos/__MACOSX/Autos/._.Rhistory
Autos/__MACOSX/Autos/._merged.csv
Autos/__MACOSX/Autos/Data/._auto-insurance-first-week.csv
Autos/__MACOSX/Autos/Data/._auto-insurance.csv
Autos/__MACOSX/Autos/Data/._mvp.csv
Autos/__MACOSX/Autos/Data/._trucks-and-suvs-first-week.csv
Autos/Autos/.Rhistory
Autos/__MACOSX/Autos/Data/._trucks-and-suvs.csv
Autos/Autos/Data/auto-insurance-first-week.csv
Autos/Autos/Data/mvp.csv
Autos/Autos/Data/auto-insurance.csv
Autos/Autos/Data/trucks-and-suvs.csv
Autos/Autos/merged.csv
Autos/Autos/Data/trucks-and-suvs-first-week.csv
